// Variables

$black: #65c6c4;
$white: #65c6c4;
$gray: #65c6c4;

$text-arrow-space: 16px;
$shaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;

// The Arrow

.the-arrow {
  width: $shaft-width;
  transition: all 0.2s;
 
  &.-left {
    position: absolute;
    top: 60%;
    left: 0;

    > .shaft {
      width: 0;
      background-color: $gray;
      
      &:before,
      &:after {
        width: 0;
        background-color: $gray;
      }

      &:before {
        transform: rotate(0);
      }

      &:after {
        transform: rotate(0);
      }
    }
  }
  
  &.-right {
    top: 3px;
    
    > .shaft {
      width: $shaft-width;
      transition-delay: 0.2s;

      &:before,
      &:after { 
        width: $arrow-head-width;
        transition-delay: 0.3s;
        transition: all 0.5s;
      }
      
      &:before {
        transform: rotate(40deg);
      }
      
      &:after {
        transform: rotate(-40deg);
      }
    }
  }

  > .shaft {
    background-color: $gray;
    display: block;
    height: $shaft-thickness;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;

    &:before,
    &:after {
      background-color: $gray;
      content: '';
      display: block;
      height: $arrow-head-thickness;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.2s;
      transition-delay: 0;
    }

    &:before {
      transform-origin: top right;
    }

    &:after {
      transform-origin: bottom right;
    }
  }
}



// Animated Arrow Button

.animated-arrow {
  display: inline-block;
  color: $gray;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
  
  &:hover {
    color: $white;
    
    > .the-arrow.-left {
      > .shaft {
        width: $shaft-width;
        transition-delay: 0.1s;
        background-color: $white;

        &:before,
        &:after {
          width: $arrow-head-width;
          transition-delay: 0.1s;
          background-color: $white;
        }

        &:before {
          transform: rotate(40deg);
        }

        &:after {
          transform: rotate(-40deg);
        }
      }
    }
    
    > .main {
      transform: translateX($shaft-width + $text-arrow-space);
      
      > .the-arrow.-right {
        > .shaft {
          width: 0;
          transform: translateX(200%);
          transition-delay: 0;
          
          &:before,
          &:after {
            width: 0;
            transition-delay: 0;
            transition: all 0.1s;
          }

          &:before {
            transform: rotate(0);
          }

          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }
  
  > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    
    > .text {
      margin: 0 $text-arrow-space 0 0;
      line-height: 1;
    }
    
    > .the-arrow {
      position: relative;
    }
  }
}
// Titles.
.title {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;

  &--about-me {
    font-size: 32px;
  }
}

.title--effect {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #fff;
}

.title--effect:hover {
	color: $black;
}

.title--effect::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #113f67;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.title--effect:hover::after {
	transform: translate3d(100%,0,0);
}

.title--effect::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.title--effect:hover::before {
	width: 100%;
}
// Subtitles.
.subtitle {
  max-width: 45%;
  line-height: 45px;
}

// Styles for social media.
.social-media {
  margin-top: 7em;

  &__list {
    display: flex;
    margin-top: 2em;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: 2em;

    &:first-child {
      margin: 0;
    }
  }

  &__link,
  &__link--linkedin,
  &__link--instagram {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fff;
    text-decoration: none;

    span {
      margin-left: 1em;
      letter-spacing: 2px;
    }

    &:hover {
      color: $black;

      svg path {
        fill: $black;
      }
    }

    &--linkedin {
      &:hover {
        color: #0e76a8;
  
        svg path {
          fill: #0e76a8;
        }
      }
    }

    &--instagram {
      &:hover {
        color: #e1306c;
  
        svg path {
          fill: #e1306c;
        }
      }
    }
  }
}

.about-me {
  &__text {
    max-width: 65%;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 35px;
  }
}